on: workflow_dispatch

jobs:
  one:
    runs-on: ubuntu-latest
    env:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
    steps:
      - name: Check out repository code
        id: checkout
        uses: actions/checkout@v2
        
      - name: Linting
        id: linting
        run: |
            ./gradlew clean
            ./gradlew lintRelease
        if: ${{ false }}
        
      - name: Report Lint warnings
        id: report
        if: ${{ failure() }}
        run: |
            ./gradlew saveLintResultsForSlack
            echo 'CUSTOM_MESSAGE<<EOF' >> $GITHUB_ENV
            cat lint_results_for_slack.txt >> $GITHUB_ENV
            echo 'EOF' >> $GITHUB_ENV

      - name: Slack Shenanigans
        uses: mariobodemann/slack@v0.0.3
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
          message: ${{ ls }}
        if: always()
